html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: #606060;
}

.extradiv h2,
.servicediv h2 {
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

i {
    color: #90dbf8;
}


/* XXXXXXXXXXXXXXXXXXXXX common style ends here XXXXXXXXXXXXXXXXXXX */

.header {
    width: 100%;
    position: relative;
}

.navbar-dark {
    background-color: #fff !important;
}

.navbar::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.4;
    z-index: -1;
}

.nav-item a {
    color: #969696!important;
    font-weight: bold;
    margin-left: 30px
}

.background-image {
    background-image: url('../images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    color: #fff;
    height: 100vh;
}

.festival-image {
    max-width: 100%;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
}

.header-section {
    width: 100%;
    height: inherit;
    color: #fff;
    text-align: center;
    position: relative;
}

.center-div {
    position: absolute !important;
    width: 100% !important;
    height: auto !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
}

.header-buttons a {
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}

.header-buttons a:hover {
    text-decoration: none;
    color: #c5c5c5;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.center-div p {
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: #fff;
}

.social-icons {
    align-items: center !important;
}


/* ********************* three extra header div starts ******************** */

.header-extradiv {
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}

.extradiv p {
    text-align: justify;
}

.extradiv {
    background-color: #fff;
    border: none;
    padding: 30px!important;
    border-radius: 3px;
    transition: 0.3s;
}

.extradiv:hover {
    box-shadow: -10px 0px 20px 0 rgba(0, 0, 0, 0.3);
    transform: translateY(-20px);
}


/* ****************************************************************** */

.banner {
    height: 140px;
    background-color: #90dbf8;
}


/* ********************* three extra header div ends ******************** */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}


/*
   * Extra utilities
   */

.flex-equal>* {
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal>* {
        flex: 1;
    }
}


/* ********************* contact us starts ******************************  */

.contactus {
    width: 100%;
    height: 100vh;
    padding: 80px 0;
    position: relative;
}

.contactus::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(330deg, #eeeeee 55%, #fff 0%);
}

.form-button button {
    border: 1px solid #000000;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    background: transparent;
}

form:hover .form-button button {
    background: #ffffff;
    color: #000000;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

::placeholder {
    font-size: 0.85rem;
}


/* ********************* contact us ends ******************************  */


/* *********************  footer starts ****************************** */

.footersection {
    width: 100%;
    height: auto;
    padding: 10px 0 10px 0;
    background: #ffffff;
    position: relative;
}

.footersection p {
    color: #b1b1b1;
}

.footer-navlinks {
    text-align: center;
}

#myBtn {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 10;
    border: none;
    color: #fff;
    background: #00abff;
    padding: 10px;
    border-radius: 10px;
}

#myBtn:hover {
    background: #ffffff;
}


/* *********************  footer ends ****************************** */


/* ****************** Media Queries ********************** */

@media (max-width: 768px) {
    .nav-item {
        text-align: center!important;
    }
    .pricing,
    .happyclients,
    .contactus {
        height: auto;
        margin-top: 50px;
    }
    .card-second {
        transform: translateY(0px);
        margin: 30px 0;
    }
    .contactus p {
        padding: 0 50px;
    }
    .footer-navlinks {
        text-align: left;
    }
    .footer-div {
        margin: 30px 0;
    }
}